{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<!-- Google tag (gtag.js) минимальная версия -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4440NYR9R4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4440NYR9R4', {
    'anonymize_ip': true,      // Анонимизация IP
    'send_page_view': true,    // Отправка базового просмотра страницы
    'allow_google_signals': false, // Отключаем персонализацию и доп.данные
    'allow_ad_personalization_signals': false
  });
</script>
<div><img src="https://mc.yandex.ru/watch/95055741" style="position:absolute; left:-9999px;" alt="" /></div>
